### Práctica de Acceso a bases de datos

Considerar la gestión de información sobre coches. Para ello se utilizará una base de datos con el siguiente esquema relacional(en negrita aparecen las claves primarias):

marcas (__cifm__, nombre, ciudad)

coches (__codcoche__, nombre, modelo)

marco (__cifm__, __codcoche__)

concesionarios (__cifc__, nombre, ciudad)

distribucion (__cifc__, __codcoche__, cantidad)

clientes (__dni__, nombre, apellido, ciudad)

ventas (__cifc__, __dni__, __codcoche__, color)


Tabla Marcas:

cifm | Nombre | Ciudad
-- | -- |--
0001| seat|Madrid
0002| renault| Barcelona
0003| citroen| Valencia
0004| audi| Madrid
0005| opel| Bilbao
0006| bmw| Barcelona

Tabla Coches:

codcoche | nombre|modelo
-- | --|--
0001| ibiza|glx
0002| ibiza| gti
0003| ibiza| gtd
0004| toledo| gtd
0005| cordoba| gti
0006| megane| 1.6
0007| megane|gti
0008| laguna| gtd
0009| laguna| td
0010| zx| 16v
0011| zx| td
0012| xantia| gtd
0013| a4 |1.8
0014| a4| 2.8
0015| astra| caravan
0016| astra| gti
0017| corsa| 1.4

Tabla Marco:

cifm | codcoche
-- | --
0001| 0001
0001| 0002
0001| 0003
0001| 0004
0001| 0005
0002| 0006
0002| 0007
0002| 0008
0002| 0009
0003| 0010
0003| 0011
0003| 0012
0004| 0013
0004| 0014
0005| 0015
0005| 0016
0005| 0017

Tabla Concesionarios:

cifc | Nombre | Ciudad
-- | -- |--
0001| acar|Madrid
0002| bcar| Madrid
0003| ccar| Barcelona
0004| dcar| Valencia
0005| ecar| Bilbao

Tabla Distribución

cifc | codcoche| cantidad
-- | --| --
0001| 0001 | 3
0001| 0002 | 7
0001| 0003 | 7
0002| 0006 | 5
0002| 0007 | 10
0002| 0008 | 10
0003| 0010 | 5
0003| 0011 | 3
0003| 0012 | 5
0004| 0013 | 10
0004| 0014 | 5


Tabla Clientes:

dni | nombre | apellidos | ciudad
-- | --|--|--
0001| Luis| Garcia | Madrid
0002| Antonio| López | Valencia
0003| Juan| Martín | Madrid
0004| María| Garcia | Madrid
0005| Javier| González | Barcelona
0006| Ana| López | Barcelona
0007| Ana| López | Madrid
0008| Ana| López | Barcelona


Tabla Ventas:

cifc | dni | codcoche | color
-- | --|--|--
0001| 0001 | 0001 | blanco
0001| 0002 | 0005 | rojo
0002| 0003 | 0008 | blanco
0002| 0001 | 0006 | rojo
0003| 0004 | 0011 | rojo
0004| 0005 | 0014 | verde
0004| 0005 | 0013 | azul
0004| 0004 | 0014 | verde

Esta base de datos contiene información sobre marcas y modelos de coches, los concesionarios que venden los coches, los coches distribuidos a los concesionarios y las ventas realizadas por estos últimos a los clientes.

Se pide:

1.Crear un programa en Python que genere utilizando SQLite una base de datos denominada “Vehículos”  que contenga las tablas mostradas más arriba: Marcas, Coche, Marco, Concesionarios, Distribución, Clientes y Ventas con la información que aparece en cada una de ellas. [2,5 puntos].

2.Crear un programa en Python que resuelva las siguientes consultas SQL [7,5 puntos]. Se debe mostrar por pantalla el resultado de cada consulta:
 
   * Obtener el nombre y el apellido de los clientes que han comprado como mínimo un coche de color ‘verde’ o un coche de color ‘azul’,

   * Obtener el nombre de los concesionarios que sólo han vendido coches al cliente con dni igual a 0001

   * Obtener los codcoche y la media de los valores del atributo cantidad para cada codcoche que aparece en la relación distribucion para los casos en que la media sea menor que 15

   * Obtener para cada valor de dni de los clientes el número de veces que aparece en la relación ventas.

   * Obtener el dni de los clientes de nombre ‘pepe’ o de nombre ‘luis’ (no se admiten valores repetidos)

   * Obtener el cifc de todos los concesionarios cuyo atributo cantidad en la relación distribucion no está comprendido entre 10 y 18 ambos inclusive (es decir, los valores menores que 10 y mayores que 18)

#### Normas de entrega

* Fecha tope de entrega: 17/10/2018
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.

In [3]:
import sqlite3;

def createDB():

    connectionObject = sqlite3.connect("Vehiculos.sqlite3");

    cursorObject = connectionObject.cursor();

    tablesDescription = (
        ("Marcas",
            (
                ("cifm","TEXT"),("nombre","TEXT NOT NULL"),("ciudad","TEXT NOT NULL"),
                ("CONSTRAINT PK_Marcas","PRIMARY KEY(cifm)")
            )
        ),
        ("Coches",
            (
                ("codCoche","TEXT"),("nombre","TEXT NOT NULL"),("modelo","TEXT NOT NULL"),
                ("CONSTRAINT PK_Coches","PRIMARY KEY(codCoche)"),
                ("CONSTRAINT UNQ_Coches_nombre_modelo","UNIQUE(nombre,modelo)")
            )
        ),
        ("Marco",
            (
                ("cifm","TEXT"),("codCoche","TEXT"),
                ("CONSTRAINT PK_Marco","PRIMARY KEY(cifm,codCoche)"),
                ("CONSTRAINT FK_Marco_Marcas","FOREIGN KEY(cifm) REFERENCES Marcas(cifm) ON DELETE CASCADE"),
                ("CONSTRAINT FK_Marco_Coches","FOREIGN KEY(codCoche) REFERENCES Coches(codCoche) ON DELETE CASCADE")
            )
        ),
        ("Concesionarios",
            (
                ("cifc","TEXT"),("nombre","TEXT NOT NULL"),("ciudad","TEXT NOT NULL"),
                ("CONSTRAINT PK_Concesionarios","PRIMARY KEY(cifc)"),
                ("CONSTRAINT UNQ_Concesionarios_nombre","UNIQUE(nombre)")
            )
        ),
        ("Distribucion",
            (
                ("cifc","TEXT"),("codCoche","TEXT"),("cantidad","INTEGER NOT NULL"),
                ("CONSTRAINT PK_Distribucion","PRIMARY KEY(cifc,codCoche)"),
                ("CONSTRAINT FK_Distribucion_Concesionarios","FOREIGN KEY(cifc) REFERENCES Concesionarios(cifc) ON DELETE CASCADE"),
                ("CONSTRAINT FK_Distribucion_Coches","FOREIGN KEY(codCoche) REFERENCES Coches(codCoche) ON DELETE CASCADE")
            )
        ),
        ("Clientes",
            (
                ("dni","TEXT"),("nombre","TEXT NOT NULL"),("apellidos","TEXT NOT NULL"),("ciudad","TEXT NOT NULL"),
                ("CONSTRAINT PK_Clientes","PRIMARY KEY(dni)")
            )
        ),
        ("Ventas",
            (
                ("cifc","TEXT"),("dni","TEXT"),("codCoche","TEXT"),("color","TEXT NOT NULL"),
                ("CONSTRAINT PK_Ventas","PRIMARY KEY(cifc,dni,codCoche)"),
                ("CONSTRAINT FK_Distribucion_Concesionarios","FOREIGN KEY(cifc) REFERENCES Concesionarios(cifc) ON DELETE CASCADE"),
                ("CONSTRAINT FK_Distribucion_Clientes","FOREIGN KEY(dni) REFERENCES Clientes(dni) ON DELETE CASCADE"),
                ("CONSTRAINT FK_Distribucion_Coches","FOREIGN KEY(codCoche) REFERENCES Coches(codCoche) ON DELETE CASCADE")
            )
        )
    );

    for table in tablesDescription:

        fieldsDescription = "";
        
        for first , second in table[1]:

            fieldsDescription += first + " " + second + ",";

        fieldsDescription = fieldsDescription[0:len(fieldsDescription)-1];
        
        cursorObject.execute("DROP TABLE IF EXISTS {}".format(table[0]));

        cursorObject.execute("CREATE TABLE {} ({})".format(table[0],fieldsDescription));
    
    insertions = (
        ("Marcas",("0001","seat","Madrid")),
        ("Marcas",("0002","renault","Barcelona")),
        ("Marcas",("0003","citroen","Valencia")),
        ("Marcas",("0004","audi","Madrid")),
        ("Marcas",("0005","opel","Bilbao")),
        ("Marcas",("0006","bmw","Barcelona")),
        ("Coches",("0001","ibiza","glx")),
        ("Coches",("0002","ibiza","gti")),
        ("Coches",("0003","ibiza","gtd")),
        ("Coches",("0004","toledo","gtd")),
        ("Coches",("0005","cordoba","gti")),
        ("Coches",("0006","megane","1.6")),
        ("Coches",("0007","megane","gti")),
        ("Coches",("0008","laguna","gtd")),
        ("Coches",("0009","laguna","td")),
        ("Coches",("0010","zx","16v")),
        ("Coches",("0011","zx","td")),
        ("Coches",("0012","xantia","gtd")),
        ("Coches",("0013","a4","1.8")),
        ("Coches",("0014","a4","2.8")),
        ("Coches",("0015","astra","caravan")),
        ("Coches",("0016","astra","gti")),
        ("Coches",("0017","corsa","1.4")),
        ("Marco",("0001","0001")),
        ("Marco",("0001","0002")),
        ("Marco",("0001","0003")),
        ("Marco",("0001","0004")),
        ("Marco",("0001","0005")),
        ("Marco",("0002","0006")),
        ("Marco",("0002","0007")),
        ("Marco",("0002","0008")),
        ("Marco",("0002","0009")),
        ("Marco",("0003","0010")),
        ("Marco",("0003","0011")),
        ("Marco",("0003","0012")),
        ("Marco",("0004","0013")),
        ("Marco",("0004","0014")),
        ("Marco",("0005","0015")),
        ("Marco",("0005","0016")),
        ("Marco",("0005","0017")),
        ("Concesionarios",("0001","acar","Madrid")),
        ("Concesionarios",("0002","bcar","Madrid")),
        ("Concesionarios",("0003","ccar","Barcelona")),
        ("Concesionarios",("0004","dcar","Valencia")),
        ("Concesionarios",("0005","ecar","Bilbao")),
        ("Distribucion",("0001","0001",3)),
        ("Distribucion",("0001","0002",7)),
        ("Distribucion",("0001","0003",7)),
        ("Distribucion",("0002","0006",5)),
        ("Distribucion",("0002","0007",10)),
        ("Distribucion",("0002","0008",10)),
        ("Distribucion",("0003","0010",5)),
        ("Distribucion",("0003","0011",3)),
        ("Distribucion",("0003","0012",5)),
        ("Distribucion",("0004","0013",10)),
        ("Distribucion",("0004","0014",5)),
        ("Clientes",("0001","Luis","Garcia","Madrid")),
        ("Clientes",("0002","Antonio","López","Valencia")),
        ("Clientes",("0003","Juan","Martín","Madrid")),
        ("Clientes",("0004","María","Garcia","Madrid")),
        ("Clientes",("0005","Javier","González","Barcelona")),
        ("Clientes",("0006","Ana","López","Barcelona")),
        ("Clientes",("0007","Ana","López","Madrid")),
        ("Clientes",("0008","Ana","López","Barcelona")),
        ("Ventas",("0001","0001","0001","blanco")),
        ("Ventas",("0001","0002","0005","rojo")),
        ("Ventas",("0002","0003","0008","blanco")),
        ("Ventas",("0002","0001","0006","rojo")),
        ("Ventas",("0003","0004","0011","rojo")),
        ("Ventas",("0004","0005","0014","verde")),
        ("Ventas",("0004","0005","0013","azul")),
        ("Ventas",("0004","0004","0014","verde"))    
    );

    for insertion in insertions:

        cursorObject.execute("INSERT INTO {} VALUES {}".format(insertion[0],insertion[1]));

    cursorObject.close();

    connectionObject.commit();

    connectionObject.close();
    
def executeQuerys():    

    connectionObject = sqlite3.connect("Vehiculos.sqlite3");

    cursorObject = connectionObject.cursor();

    querys = (

        (
        "Obtener el nombre y el apellido de los clientes " +
        "que han comprado como mínimo un coche de color\n‘verde’ o un coche de color ‘azul’."
        ,
        "SELECT NOMBRE, APELLIDOS FROM CLIENTES WHERE DNI IN " +
        "(SELECT DISTINCT(DNI) FROM VENTAS WHERE UPPER(COLOR) IN('VERDE','AZUL'))"
        ),

        (
        "Obtener el nombre de los concesionarios que sólo han vendido coches al cliente con dni igual a 0001."
         ,
        "SELECT C.NOMBRE FROM CONCESIONARIOS C, VENTAS V WHERE (C.CIFC = V.CIFC) " +
        "GROUP BY V.CIFC HAVING COUNT(DISTINCT(V.DNI)) = 1 AND V.DNI = '0001'"
        ),

        (
        "Obtener los codcoche y la media de los valores del atributo cantidad para cada codcoche que " +
        "aparece\nen la relación distribucion para los casos en que la media sea menor que 15."
         ,
        "SELECT CODCOCHE, AVG(CANTIDAD) FROM DISTRIBUCION GROUP BY CODCOCHE HAVING AVG(CANTIDAD) < 15"
        ),

        (
        "Obtener para cada valor de dni de los clientes el número de veces que aparece en la relación ventas."
         ,
        "SELECT DNI, 0 FROM CLIENTES WHERE DNI NOT IN (SELECT DISTINCT(DNI) FROM VENTAS)" +
        " UNION " +
        "SELECT V.DNI, COUNT(V.DNI) FROM VENTAS V GROUP BY V.DNI"
        ),

        (
        "Obtener el dni de los clientes de nombre ‘pepe’ o de nombre ‘luis’ (no se admiten valores repetidos)."
         ,
        "SELECT DISTINCT(DNI) FROM CLIENTES WHERE UPPER(NOMBRE) IN ('PEPE','LUIS')"
        ),

        (
        "Obtener el cifc de todos los concesionarios cuyo atributo cantidad en la relación distribucion " +
        "no\nestá comprendido entre 10 y 18 ambos inclusive (es decir, los valores menores que 10 y mayores que\n18)."
         ,
        "SELECT C.CIFC FROM DISTRIBUCION D, CONCESIONARIOS C WHERE (D.CIFC = C.CIFC) " +
        "GROUP BY C.CIFC HAVING SUM(D.CANTIDAD) NOT BETWEEN 10 AND 18"
        )

    );

    for query in querys:

        cursorObject.execute(query[1]);

        print("*****************************************************************************************************");

        print(query[0],"\n");
        
        for row in cursorObject: print(row);

        print("*****************************************************************************************************");

    cursorObject.close();

    connectionObject.close();

    
    
try:

    createDB();

    executeQuerys();

except Exception as ex:
    
    print(ex.args);

*****************************************************************************************************
Obtener el nombre y el apellido de los clientes que han comprado como mínimo un coche de color
‘verde’ o un coche de color ‘azul’.

('María', 'Garcia')
('Javier', 'González')
*****************************************************************************************************
*****************************************************************************************************
Obtener el nombre de los concesionarios que sólo han vendido coches al cliente con dni igual a 0001.

*****************************************************************************************************
*****************************************************************************************************
Obtener los codcoche y la media de los valores del atributo cantidad para cada codcoche que aparece
en la relación distribucion para los casos en que la media sea menor que 15.

('0001', 3.0)
('0002', 7.0)
('0003', 7.0)
('0006', 5.0)
('0007', 10.0)
('0008', 10.0)
('0010', 5.0)
('0011', 3.0)
('0012', 5.0)
('0013', 10.0)
('0014', 5.0)
*****************************************************************************************************
*****************************************************************************************************
Obtener para cada valor de dni de los clientes el número de veces que aparece en la relación ventas.

('0001', 2)
('0002', 1)
('0003', 1)
('0004', 2)
('0005', 2)
('0006', 0)
('0007', 0)
('0008', 0)
*****************************************************************************************************
*****************************************************************************************************
Obtener el dni de los clientes de nombre ‘pepe’ o de nombre ‘luis’ (no se admiten valores repetidos).

('0001',)
*****************************************************************************************************
*****************************************************************************************************
Obtener el cifc de todos los concesionarios cuyo atributo cantidad en la relación distribucion no
está comprendido entre 10 y 18 ambos inclusive (es decir, los valores menores que 10 y mayores que
18).

('0002',)
*****************************************************************************************************